.table {


  tr,
  td {
    border: 1px solid #888;
    border-collapse: collapse;
    height: 30px;
  }

  td {
    width: 30px;
    position: relative;
    text-align: center;
    font-weight: bold;
    user-select: none;

    &.hover {
      background-color: gray;
      opacity: 0.5;
    }

  }
  border-collapse: collapse;
}

.coordinateX {
  position: absolute;
  top: -25px;
  left: 10px;
}

.coordinateY {
  position: absolute;
  left: -20px;
  top: 3px;
}

@media screen and (max-width: 900px) {
  .table {
    flex-basis: 300px;
  }
}
