.table {

  tr,
  td {
    border: 1px solid #888;
    border-collapse: collapse;
    height: 30px;
  }

  td {
    width: 30px;
    position: relative;

    &.hover {
      background-color: gray;
    }

  }
  border-collapse: collapse;
}

.coordinateX {
  position: absolute;
  top: -25px;
  left: 10px;
}

.coordinateY {
  position: absolute;
  left: -20px;
  top: 3px;
}


